<html ng-app="apiProject">
	<head>
	<meta "charset=utf-8" />
	<script src="js/angular.js"></script>
	<script src="app/apiProject.js"></script>
	<link type="text/css" href="css/style.css" rel="stylesheet"/>
	</head>
	<body>
		<div ng-controller="myCtrl">
			<input ng-model="searchBox" ng-change="getactors()"/>
			<hr /> <br />
			<div ng-show="!movies">
			<div class="pics" ng-repeat="r in results"  ng-click="getMoviesById(r.id)" >
				<img ng-src="http://image.tmdb.org/t/p/w300_and_h450_bestv2{{r.profile_path}}" />
			    <div class="font">
				NAME:{{r.name}}
				<hr />
				</div>
			</div>	
			</div>
			<div ng-show="movies">
				<div ng-repeat="c in cast" class="pics">
					<img ng-src="http://image.tmdb.org/t/p/w500/{{c.poster_path}}" width=100>
                      
                        <div class="font">
						{{c.original_title}}
						<hr />
						
						</div>
				</div>
			</div>	
			</div>
	</body>
</html>